
<div class="tabs">
    <div class="tab__wrapper">
        <div class="tab">
            <input type="radio" id="tab1" name="tab-group" checked>
            <label for="tab1" class="tab-title btn btn-secondary"  [routerLink]="['']" [queryParams]="{'tab':0}">Вкладка 1</label> 
            <section class="tab-content"><app-zero-tab></app-zero-tab></section>
        </div> 
        <div class="tab">
            <input type="radio" id="tab2" name="tab-group">
            <label for="tab2" class="tab-title btn btn-secondary"  [routerLink]="['']" [queryParams]="{'tab':1}">Вкладка 2</label> 
            <section class="tab-content"><app-first-tab></app-first-tab></section>
        </div>
        <div class="tab">
            <input type="radio" id="tab3" name="tab-group">
            <label for="tab3" class="tab-title btn btn-secondary"  [routerLink]="['']" [queryParams]="{'tab':2}">Вкладка 3</label> 
            <section class="tab-content"><app-second-tab></app-second-tab></section> 
        </div>
        <div class="tab">
            <input type="radio" id="tab4" name="tab-group">
            <label for="tab4" class="tab-title btn btn-secondary"  [routerLink]="['']" [queryParams]="{'tab':3}">Вкладка 4</label> 
            <section class="tab-content"><app-third-tab></app-third-tab></section> 
        </div>
    </div>
</div>
      
